@import url('https://fonts.googleapis.com/css2?family=Rochester:wght@400&family=Open+Sans&display=swap');

/* Typography */
.font-primary { font-family: 'Open Sans', 'Arial', sans-serif; }
.font-secondary { font-family: 'Rochester', 'Arial', sans-serif; }

/* Main Styles */
/* Hero */
.hero {
    background-position: center;
    background-size: 100% auto;
}

/* Information */
/* .information-content [class *= 'col']:nth-child(2) {
    border-right: 1px solid #ddd;:not(:last-child)
} */

/* .information-content [class *= 'col']:nth-child(2):after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    color: #9CA0A7;
    font-family: 'Dancing Script';
    font-size: 24px;
    height: 100%;
    width: 2px;
} */

/* Map */
.map iframe { 
    width: 100%;
    margin-bottom: -6px;
    border-radius: 0.25rem;
}

/* Gallery */
.gallery {
    background-position: center;
    background-size: 100% auto;
}

.gallery-item { height: 360px; }

/* Comment */
.comments-list li:not(:last-child) {
    border-bottom: 2px solid #343a40;
}

.comments-form input,
.comments-form textarea {
    border-width: 2px;
    border-color: #343a40;
    border-radius: 0.25rem;
}

/* Footer */
.footer { 
    background-position: center;
    background-size: 100% auto; 
}

.footer a { color: inherit; }

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    /* Main Styles */
    /* Hero */
    .hero { background-size: auto 100%; }

    /* Gallery */
    .gallery { background-size: auto 100%; }

    /* Countdown */
    .countdown-number { font-size: 24px; }

    /* Information */
    /* .information-content [class *= 'col']:first-child {
        border-right: unset;
    } */

    .information-content [class *= 'col']:nth-child(2):after {
        position: unset;
        top: 0;
        right: 0;
        transform: unset;
        width: 100%;
        height: 2px;
    }

    .information-content [class *= 'col']:first-child:after {
        top: unset;
        bottom: 0;
        right: 50%;
        transform: translate(50%, 50%);
    }   
}