@import url('https://fonts.googleapis.com/css2?family=Great+Vibes:wght@400&family=Open+Sans&display=swap');

/* Typography */
.font-primary { font-family: 'Open Sans', 'Arial', sans-serif; }
.font-secondary { font-family: 'Great Vibes', 'Arial', sans-serif; }

/* Main Styles */
/* Hero */
.hero,
.information-item {
    background-position: center;
    background-size: 100% auto;
    background-attachment: fixed;
}

/* Information */
/* .information-content [class *= 'col']:first-child {
    border-right: 1px solid #ddd;
} */

/* .information-content [class *= 'col']:first-child:not(:last-child):after {
    content: '&';
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #262626!important;
    color: #fff;
    font-family: 'Great Vibes';
    font-size: 48px;
    line-height: 48px;
    height: 75px;
    width: 75px;
    border-radius: 1000px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
} */

/* Map */
.map iframe { 
    width: 100%;
    margin-bottom: -6px;
}

/* Gallery */
.gallery {
    background-position: center;
    background-size: 100% auto;
    background-attachment: fixed;
}

.gallery-item { height: 360px; }

/* Comment */
/* .comments-item {
    background-color: #343a40;
} */

/* .comments-list li:not(:last-child) {
    border-bottom: 2px solid #343a40;
} */

.comments-form input,
.comments-form textarea {
    border-width: 0;
    background-color: rgba(0,0,0,0.066);
    border-radius: 0.5rem;
}

.comments-form input:hover,
.comments-form textarea:hover,
.comments-form input:focus,
.comments-form textarea:focus,
.comments-form input:active,
.comments-form textarea:active {
    background-color: rgba(0,0,0,0.066);;
}

/* Footer */
.footer { 
    background-position: center;
    background-size: 100% auto; 
}

.footer a { color: inherit; }

/* Story */
.story-item strong { font-size: 16px; }
.story-item p { font-size: 14px; }
.story-item p:not(:last-child) { margin-bottom: 0.5rem; }
.story-item p:last-child { margin-bottom: 0; }
.story-item-date { 
    /* width: 11%; */
    /* line-height: 38px;
    word-break: break-all;  */
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    /* Main Styles */
    /* Hero */
    .hero,
    .information-item { background-size: auto 100%; }

    /* Gallery */
    .gallery { background-size: auto 100%; }

    /* Countdown */
    .countdown-number { font-size: 24px; }

    /* Information */
    .information-content [class *= 'col']:first-child:not(:last-child) { border-right: unset; }

    /* .information-content [class *= 'col']:first-child > div {
        border-bottom: 1px solid #ddd;
    } */

    .information-content [class *= 'col']:first-child:not(:last-child):after{
        top: unset;
        bottom: 0;
        right: 50%;
        transform: translate(50%, 50%);
    }   
}