/* Main Styles */
/* Hero */
.hero {
    background-position: center;
    background-size: 100% auto;
    background-attachment: fixed;
}

/* Information */
/* .information-content [class *= 'col']:first-child {
    border-right: 1px solid #ddd;
} */

.information-content [class *= 'col']:first-child:not(:last-child):after {
    content: '&';
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #343a40!important;
    color: #fff;
    font-family: 'Dancing Script';
    font-size: 24px;
    height: 50px;
    width: 50px;
    /* border: 1px solid #ddd; */
    border-radius: 1000px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

/* Map */
.map iframe { 
    width: 100%;
    margin-bottom: -6px;
}

/* Gallery */
.gallery {
    background-position: center;
    background-size: 100% auto;
    background-attachment: fixed;
}

.gallery-item {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 360px;
}

/* Comment */
/* .comments-item {
    background-color: #343a40;
} */

/* .comments-list li:not(:last-child) {
    border-bottom: 2px solid #343a40;
} */

.comments-form input,
.comments-form textarea {
    border-width: 0;
    /* border-color: #343a40; */
    background-color: rgba(0,0,0,0.066);
    border-radius: 0.5rem;
}

.comments-form input:hover,
.comments-form textarea:hover,
.comments-form input:focus,
.comments-form textarea:focus,
.comments-form input:active,
.comments-form textarea:active {
    background-color: rgba(0,0,0,0.066);;
}

/* Footer */
.footer { 
    background-position: center;
    background-size: 100% auto; 
}

.footer a {
    color: inherit;
    /* font-weight: bold; */
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    /* Main Styles */
    /* Hero */
    .hero { background-size: auto 100%; }

    /* Gallery */
    .gallery { background-size: auto 100%; }

    /* Countdown */
    .countdown-number { 
        font-size: 24px;
    }
    .information-content [class *= 'col']:first-child:not(:last-child) {
        border-right: unset;
    }

    /* .information-content [class *= 'col']:first-child > div {
        border-bottom: 1px solid #ddd;
    } */

    .information-content [class *= 'col']:first-child:not(:last-child):after{
        top: unset;
        bottom: 0;
        right: 50%;
        transform: translate(50%, 50%);
    }   
}